.main {
    display: flex;
    flex-direction: row;
    height: auto;
}

.left{
    width:23%
}

.side {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    width: 100%;
    height: 100vh;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.7rem 4rem 1rem 5rem;
}

.content {
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    
}