.main {
    display: flex;
    flex-direction: row;
    height: auto;
}
.side {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.5rem 4rem;
}

.content {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
    width: 100%;
    
}