/*WELCOME PAGES
ROUTE: "/"
when the user enter the website, this will be the first landing.
click on 'get started' button, user will access homepage*/
#welcome {
    width: 37rem;
    height: 20rem;
    position: absolute;
    top: 27%;
    right: 30%;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#welcome > button {
    background-color: #EB672F;
    padding: 1rem;
    
}

/*HOMEPAGE
ROUTE: '/home'
*/

#home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-end;
   
    
}


#carousel {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 55rem;
    height: 30rem;
    margin-right: 3rem;
    background-color: bisque;
    border-radius: 1rem;
}

#carousel-items {
    height: 29rem;
    width: 45rem;
}
.carousel-img {
    border-radius: 1rem;
}
.label {
    color: var(--dark-is-coffee);
}

#caption {
    background-color: #EB672F;
    height: 10rem;
}

/*ABOUT PAGE | ROUTE: "/about"*/
#about {
    width: 60rem;
    background-color: whitesmoke;
    margin-right: 3rem;
    padding: 1rem;
    border-width: 5px 3px 3px 5px;
    border-radius:2% 6% 5% 4% / 1% 1% 2% 4%;
    border: 4px solid black;
    
}

/*CONTACT PAGE | ROUTE: "/contact"*/
.contact-form {
    width: 60rem;
    background-color: whitesmoke;
    margin-right: 3rem;
    padding: 1rem;
    border-width: 5px 3px 3px 5px;
    border-radius:2% 6% 5% 4% / 1% 1% 2% 4%;
    border: 4px solid black;
   }
.contact-form > form {
    display: flex; 
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    margin: 2rem 7rem;
}

/* #name-email {

} */

#name-email > input{
    height: 3rem;
    width: 19rem;
    padding: 1rem;
}
/*SINGLE RECIPE PAGE | ROUTE: "/singlerecipepage/..."*/
/* background color change ===> Lakmali */
.single-page{
    /* background-color: whitesmoke;
    opacity: 0.9;  */
    height: fit-content;
    background-color: #D4C79E;
    margin: 2rem;
    margin-left: 8rem;
    border-radius: 1rem;
    padding-bottom: 2rem;
    
    
}


/*ADD NEW RECIPES PAGE | ROUTE: "/addnewrecipes/..."*/
.AddNewRecipe {
    background-color: whitesmoke;
    width: 100%;
    height: 85vh;
    margin: 0 3rem;
    margin-left: 8rem;
    border-radius: 1rem;
}
.AddNewRecipe > form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
}

/* SEARCH PAGE |ROTE: "/search/..... */

/* USER PAGE |ROTE: "/user/..... */

.UserPage {
    background-color: whitesmoke;
    width: 100%;
    height: 85vh;
    margin: 0 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.my-recipes {
    
    width: 50%;
    margin: 1rem;
    border-right: 2px solid black;
}

/* TOOLS |ROTE: "/tools */
.tools {
    background-color: whitesmoke;
    width: 100%;
    height: 85vh;
    margin: 0 3rem;
    margin-left: 8rem;
    border-width: 5px 3px 3px 5px;
    border-radius:2% 6% 5% 4% / 1% 1% 2% 4%;
    border: 4px solid black;
    padding: 1rem;
}