.category-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap:1rem;
    margin: 0 0 1.5rem 1.5rem;
}


.dot-list{
    list-style: none;
}

.dot-list::before{
    content: "\2605";
    color:rgba(255, 208, 0, 0.938);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}


.dot-list span{
    margin-left:10px;
    font-size: 1.3rem;
}